{
  "singleQuote": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.code-workspace",
      "options": {
        "parser": "jsonc",
        "trailingComma": "none"
      }
    }
  ]
}
